*{
    box-sizing: border-box;
}

body{
    background-color: white;
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

a{
    text-decoration: none;
    color: black;
}

.top_bar{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 2px 0px;
}
.top_bar section{
    display: flex;
    font-size: 15px;
    font-weight: bold;
    width: 33%;
}
.top_bar div{
    margin: 0 3px;
}
.top_bar section:nth-child(2){
    justify-content: center;
}
.top_bar section:nth-child(3){
    justify-content: flex-end;
}

.chats_nav{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin: 10px 10px;
    font-size: 25px;
    font-weight: bold;
    align-items: center;
}
.chats_nav div:nth-child(1){
    width: 40%;
    font-size: 35px;
}

.chat1{
    border: none;
    display: flex;
    margin: 25px 20px;
    font-weight: bold;
}
.chat1 img{
    width: 22%;
    height: 22%;
    border-radius: 20px;
}
.chat1 div{
    margin: 0 20px;
}
.chat1 p{
    margin: 0;
    font-size: 25px;
}
#time1{
    margin: 0;
    margin-top: 10px;
}

.chat1 .red_num{
    border-radius: 20px;
    width: 25px;
    background-color: rgb(255, 126, 112);
    position: absolute;
    left: 345px;
    top: 150px;
    text-align: center;
    font-size: 15px;
    color: white;
    padding: 2px;
}

.main_nav{
    width: 100%;
    border: none;
    border-top: 1px solid rgb(189, 189, 189);
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(243, 243, 243);
    padding: 17px 0px;
    font-size: 30px;
    position: absolute;
    bottom: 0;
    color: black;
}

.main_nav .red_num{
    border-radius: 20px;
    width: 25px;
    background-color: rgb(255, 126, 112);
    position: absolute;
    left: 155px;
    top: 10px;
    text-align: center;
    font-size: 15px;
    color: white;
    padding: 2px;
}

.red_dot{
    border-radius: 20px;
    width: 1px;
    background-color: rgb(255, 126, 112);
    position: absolute;
    left: 335px;
    top: 20px;
    padding: 3px;
}